<% layout("../layouts/default.ejs", {
  title: "Home",
  description: "Music producer, software developer and sysadmin.",
}) %>

<div class="body">
  <%~ includeFile("../partials/nameheader.ejs"); %>
  <%~ includeFile("../partials/navbar.ejs"); %>
  <div class="box">
    <p style="max-width: 32em;">
    Hiya, my name is Chen and I go by she/her. I have lots of hobbies, but the ones
    I'm most passionate about are software development, music production, and screwing around with technology.
    This is my little website that I sometimes pour time into with random tools, dumb apis, and useless stuff nobody will ever need.</p>
  </div>
  <div class="box" id="linksTable">
    <table>
      <tbody>
        <tr style="text-decoration: underline">
          <!-- <span>Links:</span> -->
        </tr>
        <% E.globalConstants.links.forEach(element => { %>
        <tr>
          <td><%= element.title %></td>
          <td>
            <a class="link" href="<%~ element.href %>"><%= element.href %></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div id="otherBadges">
    <a href="https://github.com/flleeppyy/fleepy.tv">
      <img src="/img/buttons/github_repo.png" />
    </a>
    <a href="https://fleepy.tv/fancy">
      <img src="/img/buttons/fancy.png" />
    </a>
  </div>
  <% // Ignore all the errors below. its just the html parser shitting a brick. its all valid tho %>

  <div class="box" id="linksAsBadges" style="display: none;">
    <p>links as badges so it looks cooler</p>
    <% E.globalConstants.links.forEach((element, index) => { %>
      <% if (index % 4 == 3 ) { %>
        <br>
      <% } %>
      <a href="<%= element.href %>" alt="<%= element.title %>">
        <img src="<%= element.badgeUrl %>">
      </a>
    <% }) %>
  </div>
  <script>
    document.getElementById("linksAsBadges").style.display = "inherit";
  </script>

  <p style="text-align: center; margin: 12px 0">
    Inspired by
    <a class="link" href="https://foxwells.garden">foxwells.garden</a> and
    <a class="link" href="https://utsuho.rocks">utsuho.rocks</a>
  </p>
  <footer>
    <p>friends</p>
    <a href="https://fleepy.tv">
      <img src="/img/fleepy.png" alt="Fleepy" />
    </a>
    <a href="https://utsuho.rocks/">
      <img src="/img/badges/friends/utsuhorocks.png" alt="Utsuho Reiuji next to the text Utsuho rocks" />
    </a>
    <a href="https://foxwells.garden">
      <img src="/img/badges/friends/foxwells.gif" alt="Foxwells Garden logo" />
    </a>
    <a href="https://adryd.com">
      <img src="/img/badges/friends/adryd.png" alt="Witch hat next to the text Adryd">
    </a>
    <a href="https://espi.me">
      <img src="/img/badges/friends/espi.png" alt="sys.ini">
    </a>
    <a href="https://koishii.online">
      <img src="/img/badges/friends/koishi.png" alt="koishiis's website">
    </a>
    <a href="https://wito.bar">
      <img src="/img/badges/friends/fides.png" alt="Fides' website">
    </a>
    <a href="https://cirnosystems.xyz/">
      <img src="/img/badges/friends/cirnosys.png" alt="Ruby's website">
    </a>
    <p style="margin: 4px 0">random buttons and services</p>
    <a href="https://distrowatch.com">
      <img src="/img/badges/linux.gif" alt="Linux Directory! Click here! Featuring a penguin that winks at you">
    </a>
    <a href="https://linode.com">
      <img src="/img/badges/linode.png" alt="Cloud Computing and server hosting!">
    </a>
    <a href="https://haste.fleepy.tv/ovaqagoqowuk">
      <img src="/img/badges/schoolsucks.gif" alt="School sucks! Forever!">
    </a>
    <img src="/img/badges/aol_no.gif" alt="AOL! no...">
    <br>
    <a href="magnet:?xt=urn:btih:2bcb5dff67c1cd2ed8979747351e9415127084ae&dn=seed_this_torrent.png&tr=wss%3a%2f%2ftracker.btorrent.xyz&tr=wss%3a%2f%2ftracker.openwebtorrent.com&tr=udp%3a%2f%2ftracker.leechers-paradise.org%3a6969&tr=udp%3a%2f%2ftracker.coppersurfer.tk%3a6969&tr=udp%3a%2f%2ftracker.opentrackr.org%3a1337&tr=udp%3a%2f%2fexplodie.org%3a6969&tr=udp%3a%2f%2ftracker.empire-js.us%3a1337">
      seed_this_torrent
    </a>

  </footer>
</div>
<script src="/js/oneko.js?<%= E.globalConstants.fakeHash%>"></script>

<style>

img[src^="/img"] {
  max-height: 31px;
}


